
 <div class="container-narrow">
     	<div class="row-fluid marketing">
     		 <div class="span8">
     		 <br><br>
     		 	<h2>Frequently Asked Questions</h2>
     		 	<br> 
     		 <p>Companies always questions about getting the website made. Here are the some of the most common we receive.</p><br>
     		 <br>
     		<p><b>How much it will cost?</b></p>
     		<p>At the outset we can say that it is affordable to small and medium sized companies. It would also depends upon the scope and time taken for creating the web site. If one wants to know about it they can send us a email and telling us what exactly you require.</p><br>

     		<p><b>Can we make a website, even though you don’t stay near us?</b></p>
     		<p>he answer to this is yes.  The communication between us and our customers via emails or phones. On line tools make it easier to collaborate and work with our customers with no problems even if they are miles away.</p><br>

     		<p><b>How long it takes for the web sites to be completed & delivered?</b></p>
     		<p>This depends on the scope of your web site projects.  A basic small business web site can usually be completed with two weeks provided we have all information content we need from our customers. Generally most  of the web sites take about a month for gathering the contents, revisions to the sites and tweaks int the sites.</p><br>

     		<p><b>What kind of technical support do we offer?</b></p>
     		<p>All of our clients get 30 days free technical support on delivering their web sites for any tweaks or edits that require to be made. In addition to this we offer ongoing support on hourly rate or through monthly support package basis.</p>
          </div>
     		 	
     		 <div class="span4">
     		 	<style>
				div.ex
				{
				width:250px;
				padding: 10px;
				border:5px solid gray;
				margin: 5px;
				}
				</style>
				<div class="ex"><h3><b>Contact</b></h3><p>We provide all clients with a sharp looking website that's optimezed for all the major search engines and designed to convert browsers into customers and clients. </p><p>Click the button below to contact.<button class="btn" type="submit">Contact</button></p></div>

				 </div>
     		</div>
              
     		<hr>

         