
<div class="container-narrow">
      <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item"><%= link_to image_tag("web1n.jpg", alt: "parrot") %> </div>
    <div class="item"><%= link_to image_tag("web3n.jpg", alt: "rising")  %> </div>
    <div class="item"><%= link_to image_tag("web6n.jpg", alt: "Twitter")  %> </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
 <div class="container-narrow">
      <div class="row-fluid marketing">
         <div class="span8">
          <br><br>
  
    		        <h4>Websites for SMALL AND MEDIUM SIZED BUSINESSES</h4><br>
    		        <p class="lead">At affordable prices</p><br>
                <p>Your website makes a good first impression and converts visitors<br> into customers and clients.</p> 
              
          </div>
          <div class="span4">
          <style>
        div.ex
        {
        width:250px;
        padding: 0px;
        border:5px solid gray;
        margin: 5px;
        }
        </style>
        </head>

        <body>
        <div class="ex"><%= link_to image_tag("web.jpg", alt: "tulip") %>
        
      </div>  
  </div> 
  </div>      
    <hr>
 

     <div class="container-narrow">
      <div class="row-fluid marketing">
        <div class="span4">        
          <p>In the current world market scenario the Large companies  have a strong global and online presence by creating their Web   Sites  which  are very appealing and are great marketing tools for these companies.</p>
        </div>
        <div class="span4">          
          <p>The companies can do their marketing and also their day to day business on the internet 24 hours a day and 7 days of the week. There is still a substantial scope for the small & medium sized companies of having its own web sites. They need not worry or fear about the cost of creating  the web site.</p>
        <div class="span4">
          
       
         </div>
          

        </div>
    </div>
  </div>
      <div class="container-narrow">
        <div class="row-fluid marketing">
        <div class="span8">         
          <p>At  Swan Pixels  , we assist such types  of companies.
We consistently work on creating, developing and improving  -appealing, attractive  and competitive websites.We do the work at affordable prices.
We guarantee that our created web sites ywill give your businessa smart and a   professional web presence.So if you are interested in having your own Web Site.
Please contact us - of what type of web site you wish to create and develop in order that you can market your products and go the the next success  level and make lots of profits.</p>         
        </div>
        <div class="span4">

        </div>
      </div>
    </div>

        <div class="container-narrow">
    <div class="box">
      <p><em>Give your business or project a professional web presence today  </em><button class="btn" type="submit">Contact</button></p>
    </div>

      <hr>
    
