
     <div class="container-narrow">      
      
				  <div class="jumbo">
            <br>
		        <h3>WEBSITES for SMALL AND MEDIUM SIZED BUSINESSES</h3>
		        <p class="lead">At affordable prices</p>
            <p>Your website makes a good first impression and converts visitors into customers and clients.</p>
		        
      </div>
    </div>
  </div>       
    <hr>
  </div>

     <div class="container-narrow">
      <div class="row-fluid marketing">
        <div class="span4">
          <h4></h4>
          <p>In the current world market scenario the Large companies  have a strong global and online presence by creating their Web   Sites  which  are very appealing and are great marketing tools for these companies. The companies can do their marketing and also their day to day business on the internet 24 hours a day and 7 days of the week.</p>   
        </div>
        <div class="span4">
          <h4> </h4>
          <p>There is still a substantial scope for the small & medium sized companies of having its own web sites. They need not worry or fear about the cost of creating  the web site.</p>
         
          <p>At  Swan Pixels  , we assist such types  of companies.
We consistently work on creating, developing and improving  -appealing, attractive  and competitive websites.</p>         
        </div>
        <div class="span4">
          <h4></h4>
          <p>We do the work at affordable prices.
We guarantee that our created web sites ywill give your businessa smart and a   professional web presence. </p>

          <h4></h4>
          <p>So if you are interested in having your own Web Site.
Please contact us - of what type of web site you wish to create and develop in order that you can market your products and go the the next success  level and make lots of profits.</p>
         
        </div>



      </div>

        <div class="container-narrow">
    <div class="box">
      <p><em>Give your business or project a professional web presence today  </em><button class="btn" type="submit">Contact</button></p>
    </div>

      <hr>
    
