
     
     <div class="container-narrow">
     	<div class="row-fluid marketing">
     		 <div class="span8">
     		 	<br><br>
     		 	<h2>Services</h2>
     		 	<br>     		 	
     		 	<h4> Website Design</h4>
     		 	<p> These days your website is how people "look you up" so it's important that you're easy to find, make a good first impression and convert visitors into customers and clients. If we work together, we'll help you make sure your business website just that. With every client project we focus on providing:</p>
     		 	<br>
     		 </div>
     		 <div class="span4">
     		 	<style>
				div.ex
				{
				width:250px;
				padding: 10px;
				border:5px solid gray;
				margin: 5px;
				}
				</style>
				</head>

				<body>

				

				<div class="ex"><h3><b>Contact</b></h3><p>We provide all clients with a sharp looking website that's optimezed for all the major search engines and designed to convert browsers into customers and clients. </p><p>Click the button below to contact.<button class="btn" type="submit">Contact</button></p></div>


     		 </div>
     		</div>
     	<div class="container-narrow">
		<div class="row-fluid marketing">	
        <div class="span4">

        	<p><b>Excellent Designs.</b> Our web sites are designed and created keeping in mind that our customers needs professional web presence which builds trust with the prospective customers and adds value to their products and services sold.
			Accordingly we provide our customers excellent sharp looking stunning websites.
			Customers make split second judgments about the quality of something based on its presentation alone. We  make sure your website makes a convincing first impression.</p>
			<br>
			<p><b>Search Engine Opimization.</b>The web sites are optimized for the major search engines & their robots. So the sites are easy to locate, browsing is smooth and swift.</p>
			<br>
		</div>
		<div class="span4">
			<p><b>Clear Navigation.</b>The web sites we design are unambiguous and crystal clear.We make sure that the prospective customers does not get confused while browsing the site and knows what ones site is about.</p>
			<br>
			<p><b>Easy to operate.</b>( Content Manageemnt) The web sites are very easy to handle. If your staff can use Microsoft Word document or Microsoft Outlook, then your staff can also use this web site in the same way. We  create your web site with WordPress (a Content Management Software ).  This software will give your staff  the skills required for modification / edit  of your sites and updating and adding any content to your website.  We train the staff in WordPress.</p>
        </div>         
        <div class="span4">
        	<p><b>Responsiveness and on time delivery:</b> We strictly deliver the websites as ordered on time as per the contract with our customers and thereafter if our services are required by our customers any time we respond to them immediately on time.</p>
        	<br>
        	<p><b>Comprehensive Support:</b>In addition to 30 days free support after the customers web site project is delivered we provide full and comprehensive support on which you can count on us. We offer full support and any modifications / edits required  on your web sites and updating and adding any content to your websites. And any technical support required by our customers we do it for them and charge them through an hourly rate or monthly support package.</p>

        </div>

    </div>

    <hr>


