
.container {

  width: 700;
  background: url('parrotn.jpg');
  padding-left: ;
  padding-top: 20px;
  top: 0;
  margin: 0 auto;
}



       
 .touch {
  font-size: 1.5em;
 }      

h3{
  text-align: center;

  }

  .navbar, .navbar-inner{
    background: #420600;
  }

  

.jumbo {
  width: 1100px;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-top: ;
  color:;
  
}



a:hover, a:active {
  background-color: #263;
}
.btn {
  
  background-color: #619E60;
  color: #FAF3BC;
  background: #263 url('img/texture.png') no-repeat right top;
  padding: 10px 25px;
  margin: 0px 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-transform: uppercase;

}

em{
  font-size: 1.5em;

}

.form-signin-heading {

  text-align: center;
}


.box
{
width:800px;
padding:5px;
padding-left: 5px;
border:5px solid gray;
margin:20px;
}

.footer {
  background: url('parrotn.jpg');
 
  color: #000;
  padding: 10px;
  margin: 0 auto;
  padding-left: 30px;
  text-align: center;

}

p {
  text-align: justify;
}