 
 <div class="container-narrow">
     	<div class="row-fluid marketing">
     		<div class="span8">
     			<br>
     		<h4>WHY WEB SITES ARE REQUIRED FOR</H4>
     			<br><br>
     			<p>We have discussed below <b>7 main reasons</b> why one should have a web site presence.</p>
     			<br>
     		</div>
     		<div class="span4">

     		</div>
          </div>

     	<div class="row-fluid marketing">	
     		 <div class="span6">
     		 	<p>1. PROFESSIONALISM: In the present global & local scenario the businesses that do not have a website might not be taken as seriously . Having an online presence suggests professionalism, and also a larger global and local business vision.</p>

     		 	<p>2. SEARCH INFORMATION: In the present business scenario the web sites has more or less replaced the yellow pages. So if you want to sale or buy something- one has to search it on the internet. This option allows the buyerss to search quickly and investigate and compare products and services before visiting  the  sales store or an office.</p>

     		 	<p>3. SALES COUNTERS: The Web Site provides an excellent counter to secure sales, without customers having to visit a store or office. Prospective customers can research products and services prior to contacting an establishment to complete the sale.</p>

     		 	<p>4. TWENTY FOUR HOURS A DAY AND SEVEN DAYS A WEEK BUSINESS: Websites generally operate 24 hours a day and 7 days a week. And to be customers visit websites at any time of the day . Therefore  the selling company doesn’t miss  any opportunity of making sales.</p>

     		</div>

     		<div class="span6">
     			<p>5. MARKETING SIMPLIFIED: Having a website is a cost effective way of advertising and marketing . Normally printing of flyers or brochures  for advertisements and for  short-term promotions are expensive to produce, and also  printing of these materials,has to be done many days or weeksbefore and produced in large volumes, which also contributes to marketing costs. But advertisements published online can be changed frequently and at a relatively minimal cost when compared to other media.</p>

     			<p>6.CUSTOMER LINKS:  Via web sites one can form a database of the visitors and customers who visit the sites, and develop and strengthen its relationship with them . The company can pro actively target its marketing efforts at specific/identifiable persons.  For example one can send  emails to  them informing  any news of any future special promotions etc.  In turn these site visitors can also provide vital market research like, for example through the web pages they visit, they can provide information about the goods they visit and would like to purchase and also their  comments and feedback.</p>

     			<p>7. OPPURTUNITY TO EXPAND: An online presence potentially gives a business an opportunity to expand to the global market – its market is not necessarily limited to local customers only. It significantly widens the horizons of operations that are prepared to take advantage of that opportunity.
				(The above eight points are some of the key reasons why organizations should establish their own websites. The site has to be done well. Businesses are judged on the professionalism, relevance and quality of information provided on their websites).</p>

     		</div>

          </div>
     </div>

