

<div class="container-narrow">
	
	        <div class="span8">
	        	<div class="footer">

						<p>A professional web presence builds trust with your visitors, credibility in your industry and increase the perceived value of your prodcuts and services.</p>

						<p><%= link_to image_tag("Facebook.png", alt: "facebook"), 'http://facebook.com/Deviwarang' %> 
						<%= link_to image_tag("Twitter.png", alt: "Twitter"), 'https://twitter.com/DeviWarang1' %>  </p>

					</div>
			
								<p>&copy; SwanPixels 2013  All Rights Reserved</p>
				
    </div> <!-- /container -->



							
				
				