

 <div class="container-narrow">

<%= link_to image_tag("swan1.jpg",alt: "swan") %>
<a class="brand" herf="#"><h2><em>SWAN PIXELS WEB DESINS</em></h2></a>
</div>
      <div class="container-narrow">
      <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
              <li class="active"><a href="home">Home</a></li>
              <li><a href="portfolio">Portfolio</a></li>
              <li><a href="why">WHY</a></li>
              <li><a href="services">Services</a></li>
              <li><a href="faq">FAQ</a></li> 
              <li><a href="contact">Contact</a></li>
              </li>
            </ul>  
        </div>
      </div>
    </div>

   
    

    
  







    